body {
	width:800px;
	height:auto;
	padding:0;
	margin:0 auto;
}
div div {
	border:1px solid;
	float:left;
	display:inline-block;
	height:30px;
	width:30px;
	margin:0;
	padding:0;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
}
#content {
	padding-top:60px;
	width:800px;
	height:auto;
	margin:0 auto;
}
#outer {
	border:1px solid;
	padding:0;
	width:288px;
	height:288px;
	float:left;
}
#form {
	width:100px;
	height:auto;
	float:right;
	border:0px;
	margin:auto;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;		
}
